.DS_Store
/.vscode
/SFSDKStarter.xcodeproj/xcuserdata/kpoorman.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/SFSDKStarter.xcodeproj/project.xcworkspace/xcuserdata/kpoorman.xcuserdatad/UserInterfaceState.xcuserstate
